.ux-button {
  background: var(--bg);
}

.ux-button:hover,
.ux-button:focus {
  background: var(--text);
  color: var(--bg);
}

.ux-button:hover > svg,
.ux-button:focus > svg {
  fill: var(--bg);
}

.ux-button:before {
  content: "";
  background: var(--rGradient);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(4px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 30s linear infinite;
  opacity: 0;
  border-radius: var(--scale2);
}

.ux-button:hover:before {
  opacity: 1;
}

.ux-button:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  left: 0;
  top: 0;
  border-radius: var(--scale2);
  z-index: -1;
}

.ux-button:hover:after {
  background: var(--text);
}

:root.light .ux-button:hover:after {
  background: var(--ev);
}

:root.light .ux-button:hover,
:root.light .ux-button:focus {
  color: var(--w);
}

@keyframes glowing {
  0%,
  100% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
}

