/* Root Variables - Color Scheme and Design Variables */
:root {
  /*Main colors*/
  --tb: #77d1cb; /* tiffanyBlue */
  --vb: #7aa2cd; /* vistaBlue */
  --ti: #8377d1; /* tropicalIndigo */
  --lf: #aa77c2; /* lavenderFloral */
  --sm: #d177b3; /* skyMagenta */

  /* Neutrals */
  --br: #292734; /* raisinBlack */
  --ev: #54506a; /* englishViolet */
  --fg: #b7b4c7; /* frenchGray */
  --la: #d4d2dd; /* lavenderWeb */
  --w: #f1f0f4; /* anti-flashWhite */

  /* Shadows and Background */
  --shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  --blur: blur(96px);
  --lGradient: linear-gradient(
    to top,
    var(--tb),
    var(--vb),
    var(--ti),
    var(--lf),
    var(--sm)
  );
  --rGradient: radial-gradient(
    circle,
    var(--tb),
    var(--vb),
    var(--ti),
    var(--lf),
    var(--sm)
  );

  /* Typography Styles */
  --base-size: 8px; /* Define base size */
  --scale2: calc(var(--base-size) * 2); /* 16px */
  --scale3: calc(var(--base-size) * 3); /* 24px */
  --scale4: calc(var(--base-size) * 4); /* 32px */
  --scale5: calc(var(--base-size) * 5); /* 40px */
  --scale6: calc();
  --line-height-base: 1.5;
}

/* Theme Styles */
:root {
  --bg: var(--br);
  --text: var(--w);

  /* glassBox */
  --box: rgba(84, 80, 106, 0.56);
  --boxHover: rgba(84, 80, 106, 0.8);
  --glasBorder: linear-gradient(145deg, var(--fg) 0%, var(--ev));
  --glasBoxShadow: inset 1px 1.2px 2px var(--fg),
    inset 1px -0.5px 2px var(--box), 2px 4px 16px rgba(0, 0, 0, 0.16),
    1px 2px 2px -2px var(--bg);

  --hover: var(--w);
  --bgHover: rgb(41 39 52 / 48%);
}
